@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap');

$mobile-width: 375px;
$desktop-width: 1440px;
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$body-size: 18px;
$font: 'Public Sans';
$font-weight-normal: 300;
$font-weight-bold: 400;
