@import '../../assets/scss/variables';

.card {
  border: none;
  .card-body {
    font-family: $font;
    text-align: left;
    color: $grayish-blue;

    .card-subtitle {
      font-size: 8px;
      margin-bottom: 10px;
    }
    .card-title {
      color: $dark-blue;
      font-size: 17px;
      font-weight: 400;
      &:hover {
        cursor: pointer;
        color: hsl(136, 65%, 51%);
      }
    }
    .card-text {
      font-size: 10px;
      line-height: 15px;
    }
  }
}
