@import '../../assets/scss/variables';

.blog {
  background-color: $very-light-gray;
  padding: 50px 0;

  .container {
    h2 {
      text-align: left;
      font-family: $font;
      color: $dark-blue;
      font-weight: 400;
    }

    .card-deck {
      padding: 20px 0;
    }
  }
}
