@import '../../assets/scss/variables';

nav {
  padding: 30px 0px 20px 0px;
  position: relative;
  z-index: 9999;
  background-color: $white;
}

.logo-header {
    padding-top: 10px;
}

.tabs {
  list-style-type: none;
  padding-top: 10px;

  .tab {
    margin-left: 20px;
    color: $grayish-blue;

    &:hover {
      border-bottom: 2px solid #38AD57;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
